table {
  @extend .table;
}

img {
  @extend .img-responsive;
  @extend .center-block;
}

.navbar {
  margin-bottom: 0px;
}
.jumbopic {
  background: url("../images/cloud.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  background-position: 100% 350%;
}
svg {
  height: 50%;
  width: 50%;
}
path {
  fill: white;
  stroke: black;
  stroke-width: 2;
  stroke-linejoin: round;
}
path:hover {
  fill: aliceblue;
  stroke: lightskyblue;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

body{
	position: relative; /* required */
}
ul.nav-tabs {
	width: 140px;
	margin-top: 20px;
	border-radius: 4px;
    background: #fff;
    z-index: 999;
	border: 1px solid #ddd;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li {
	margin: 0;
	border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child {
	border-top: none;
}
ul.nav-tabs li a {
	margin: 0;
	padding: 8px 16px;
	border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
	color: #fff;
	background: #15518c;
	border: 1px solid #15518c;
}
ul.nav-tabs li:first-child a {
	border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a {
	border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix {
	top: 0px; /* set the top position of pinned element */
}
